BINANCE_API_KEY=p0O09mjRdsitiUbkKv8MAZwzRsb8qksyNUff1HltTbFhnT6JtTduTKu6QFCM9E3r
BINANCE_API_SECRET=l9dyKaYSz3WtZOf0cWRfHlszRp5jtwN2JNFS736c1jQixm1UMnNYoN34Oaw84I0c
BINANCE_BASE_URL=https://testnet.binancefuture.com